src/wsdl/localhost_8080/gantt/WebServiceSvc.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://services/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://services/" name="WebServiceSvc">
<types>
<xsd:schema>
<xsd:import namespace="http://services/" schemaLocation="http://localhost:8080/gantt/WebServiceSvc?xsd=1"/>
</xsd:schema>
</types>
<message name="listarActividadesPorTarea">
<part name="parameters" element="tns:listarActividadesPorTarea"/>
</message>
<message name="listarActividadesPorTareaResponse">
<part name="parameters" element="tns:listarActividadesPorTareaResponse"/>
</message>
<message name="ParseException">
<part name="fault" element="tns:ParseException"/>
</message>
<message name="insertarActividad">
<part name="parameters" element="tns:insertarActividad"/>
</message>
<message name="insertarActividadResponse">
<part name="parameters" element="tns:insertarActividadResponse"/>
</message>
<message name="autenticarUsuario">
<part name="parameters" element="tns:autenticarUsuario"/>
</message>
<message name="autenticarUsuarioResponse">
<part name="parameters" element="tns:autenticarUsuarioResponse"/>
</message>
<message name="actualizarActividad">
<part name="parameters" element="tns:actualizarActividad"/>
</message>
<message name="actualizarActividadResponse">
<part name="parameters" element="tns:actualizarActividadResponse"/>
</message>
<message name="listarActividadPorId">
<part name="parameters" element="tns:listarActividadPorId"/>
</message>
<message name="listarActividadPorIdResponse">
<part name="parameters" element="tns:listarActividadPorIdResponse"/>
</message>
<message name="listarEmpresaPorId">
<part name="parameters" element="tns:listarEmpresaPorId"/>
</message>
<message name="listarEmpresaPorIdResponse">
<part name="parameters" element="tns:listarEmpresaPorIdResponse"/>
</message>
<message name="actualizarProyecto">
<part name="parameters" element="tns:actualizarProyecto"/>
</message>
<message name="actualizarProyectoResponse">
<part name="parameters" element="tns:actualizarProyectoResponse"/>
</message>
<message name="listarProyectoPorId">
<part name="parameters" element="tns:listarProyectoPorId"/>
</message>
<message name="listarProyectoPorIdResponse">
<part name="parameters" element="tns:listarProyectoPorIdResponse"/>
</message>
<message name="listarUsuarioPorId">
<part name="parameters" element="tns:listarUsuarioPorId"/>
</message>
<message name="listarUsuarioPorIdResponse">
<part name="parameters" element="tns:listarUsuarioPorIdResponse"/>
</message>
<message name="actualizarUsuario">
<part name="parameters" element="tns:actualizarUsuario"/>
</message>
<message name="actualizarUsuarioResponse">
<part name="parameters" element="tns:actualizarUsuarioResponse"/>
</message>
<message name="listarActividades">
<part name="parameters" element="tns:listarActividades"/>
</message>
<message name="listarActividadesResponse">
<part name="parameters" element="tns:listarActividadesResponse"/>
</message>
<message name="actualizarEmpresa">
<part name="parameters" element="tns:actualizarEmpresa"/>
</message>
<message name="actualizarEmpresaResponse">
<part name="parameters" element="tns:actualizarEmpresaResponse"/>
</message>
<message name="eliminarActividad">
<part name="parameters" element="tns:eliminarActividad"/>
</message>
<message name="eliminarActividadResponse">
<part name="parameters" element="tns:eliminarActividadResponse"/>
</message>
<message name="insertarUsuario">
<part name="parameters" element="tns:insertarUsuario"/>
</message>
<message name="insertarUsuarioResponse">
<part name="parameters" element="tns:insertarUsuarioResponse"/>
</message>
<message name="eliminarUsuario">
<part name="parameters" element="tns:eliminarUsuario"/>
</message>
<message name="eliminarUsuarioResponse">
<part name="parameters" element="tns:eliminarUsuarioResponse"/>
</message>
<message name="listarUsuarios">
<part name="parameters" element="tns:listarUsuarios"/>
</message>
<message name="listarUsuariosResponse">
<part name="parameters" element="tns:listarUsuariosResponse"/>
</message>
<message name="insertarEmpresa">
<part name="parameters" element="tns:insertarEmpresa"/>
</message>
<message name="insertarEmpresaResponse">
<part name="parameters" element="tns:insertarEmpresaResponse"/>
</message>
<message name="eliminarEmpresa">
<part name="parameters" element="tns:eliminarEmpresa"/>
</message>
<message name="eliminarEmpresaResponse">
<part name="parameters" element="tns:eliminarEmpresaResponse"/>
</message>
<message name="insertarProyecto">
<part name="parameters" element="tns:insertarProyecto"/>
</message>
<message name="insertarProyectoResponse">
<part name="parameters" element="tns:insertarProyectoResponse"/>
</message>
<message name="listarEmpresas">
<part name="parameters" element="tns:listarEmpresas"/>
</message>
<message name="listarEmpresasResponse">
<part name="parameters" element="tns:listarEmpresasResponse"/>
</message>
<message name="eliminarProyecto">
<part name="parameters" element="tns:eliminarProyecto"/>
</message>
<message name="eliminarProyectoResponse">
<part name="parameters" element="tns:eliminarProyectoResponse"/>
</message>
<message name="insertarTarea">
<part name="parameters" element="tns:insertarTarea"/>
</message>
<message name="insertarTareaResponse">
<part name="parameters" element="tns:insertarTareaResponse"/>
</message>
<message name="actualizarTarea">
<part name="parameters" element="tns:actualizarTarea"/>
</message>
<message name="actualizarTareaResponse">
<part name="parameters" element="tns:actualizarTareaResponse"/>
</message>
<message name="listarProyectos">
<part name="parameters" element="tns:listarProyectos"/>
</message>
<message name="listarProyectosResponse">
<part name="parameters" element="tns:listarProyectosResponse"/>
</message>
<message name="listarTareaPorId">
<part name="parameters" element="tns:listarTareaPorId"/>
</message>
<message name="listarTareaPorIdResponse">
<part name="parameters" element="tns:listarTareaPorIdResponse"/>
</message>
<message name="listarTareas">
<part name="parameters" element="tns:listarTareas"/>
</message>
<message name="listarTareasResponse">
<part name="parameters" element="tns:listarTareasResponse"/>
</message>
<message name="eliminarTarea">
<part name="parameters" element="tns:eliminarTarea"/>
</message>
<message name="eliminarTareaResponse">
<part name="parameters" element="tns:eliminarTareaResponse"/>
</message>
<message name="listarTareasPorProyecto">
<part name="parameters" element="tns:listarTareasPorProyecto"/>
</message>
<message name="listarTareasPorProyectoResponse">
<part name="parameters" element="tns:listarTareasPorProyectoResponse"/>
</message>
<portType name="WebServiceSvc">
<operation name="listarActividadesPorTarea">
<input wsam:Action="http://services/WebServiceSvc/listarActividadesPorTareaRequest" message="tns:listarActividadesPorTarea"/>
<output wsam:Action="http://services/WebServiceSvc/listarActividadesPorTareaResponse" message="tns:listarActividadesPorTareaResponse"/>
<fault message="tns:ParseException" name="ParseException" wsam:Action="http://services/WebServiceSvc/listarActividadesPorTarea/Fault/ParseException"/>
</operation>
<operation name="insertarActividad">
<input wsam:Action="http://services/WebServiceSvc/insertarActividadRequest" message="tns:insertarActividad"/>
<output wsam:Action="http://services/WebServiceSvc/insertarActividadResponse" message="tns:insertarActividadResponse"/>
<fault message="tns:ParseException" name="ParseException" wsam:Action="http://services/WebServiceSvc/insertarActividad/Fault/ParseException"/>
</operation>
<operation name="autenticarUsuario">
<input wsam:Action="http://services/WebServiceSvc/autenticarUsuarioRequest" message="tns:autenticarUsuario"/>
<output wsam:Action="http://services/WebServiceSvc/autenticarUsuarioResponse" message="tns:autenticarUsuarioResponse"/>
<fault message="tns:ParseException" name="ParseException" wsam:Action="http://services/WebServiceSvc/autenticarUsuario/Fault/ParseException"/>
</operation>
<operation name="actualizarActividad">
<input wsam:Action="http://services/WebServiceSvc/actualizarActividadRequest" message="tns:actualizarActividad"/>
<output wsam:Action="http://services/WebServiceSvc/actualizarActividadResponse" message="tns:actualizarActividadResponse"/>
<fault message="tns:ParseException" name="ParseException" wsam:Action="http://services/WebServiceSvc/actualizarActividad/Fault/ParseException"/>
</operation>
<operation name="listarActividadPorId">
<input wsam:Action="http://services/WebServiceSvc/listarActividadPorIdRequest" message="tns:listarActividadPorId"/>
<output wsam:Action="http://services/WebServiceSvc/listarActividadPorIdResponse" message="tns:listarActividadPorIdResponse"/>
<fault message="tns:ParseException" name="ParseException" wsam:Action="http://services/WebServiceSvc/listarActividadPorId/Fault/ParseException"/>
</operation>
<operation name="listarEmpresaPorId">
<input wsam:Action="http://services/WebServiceSvc/listarEmpresaPorIdRequest" message="tns:listarEmpresaPorId"/>
<output wsam:Action="http://services/WebServiceSvc/listarEmpresaPorIdResponse" message="tns:listarEmpresaPorIdResponse"/>
<fault message="tns:ParseException" name="ParseException" wsam:Action="http://services/WebServiceSvc/listarEmpresaPorId/Fault/ParseException"/>
</operation>
<operation name="actualizarProyecto">
<input wsam:Action="http://services/WebServiceSvc/actualizarProyectoRequest" message="tns:actualizarProyecto"/>
<output wsam:Action="http://services/WebServiceSvc/actualizarProyectoResponse" message="tns:actualizarProyectoResponse"/>
<fault message="tns:ParseException" name="ParseException" wsam:Action="http://services/WebServiceSvc/actualizarProyecto/Fault/ParseException"/>
</operation>
<operation name="listarProyectoPorId">
<input wsam:Action="http://services/WebServiceSvc/listarProyectoPorIdRequest" message="tns:listarProyectoPorId"/>
<output wsam:Action="http://services/WebServiceSvc/listarProyectoPorIdResponse" message="tns:listarProyectoPorIdResponse"/>
<fault message="tns:ParseException" name="ParseException" wsam:Action="http://services/WebServiceSvc/listarProyectoPorId/Fault/ParseException"/>
</operation>
<operation name="listarUsuarioPorId">
<input wsam:Action="http://services/WebServiceSvc/listarUsuarioPorIdRequest" message="tns:listarUsuarioPorId"/>
<output wsam:Action="http://services/WebServiceSvc/listarUsuarioPorIdResponse" message="tns:listarUsuarioPorIdResponse"/>
<fault message="tns:ParseException" name="ParseException" wsam:Action="http://services/WebServiceSvc/listarUsuarioPorId/Fault/ParseException"/>
</operation>
<operation name="actualizarUsuario">
<input wsam:Action="http://services/WebServiceSvc/actualizarUsuarioRequest" message="tns:actualizarUsuario"/>
<output wsam:Action="http://services/WebServiceSvc/actualizarUsuarioResponse" message="tns:actualizarUsuarioResponse"/>
</operation>
<operation name="listarActividades">
<input wsam:Action="http://services/WebServiceSvc/listarActividadesRequest" message="tns:listarActividades"/>
<output wsam:Action="http://services/WebServiceSvc/listarActividadesResponse" message="tns:listarActividadesResponse"/>
<fault message="tns:ParseException" name="ParseException" wsam:Action="http://services/WebServiceSvc/listarActividades/Fault/ParseException"/>
</operation>
<operation name="actualizarEmpresa">
<input wsam:Action="http://services/WebServiceSvc/actualizarEmpresaRequest" message="tns:actualizarEmpresa"/>
<output wsam:Action="http://services/WebServiceSvc/actualizarEmpresaResponse" message="tns:actualizarEmpresaResponse"/>
</operation>
<operation name="eliminarActividad">
<input wsam:Action="http://services/WebServiceSvc/eliminarActividadRequest" message="tns:eliminarActividad"/>
<output wsam:Action="http://services/WebServiceSvc/eliminarActividadResponse" message="tns:eliminarActividadResponse"/>
<fault message="tns:ParseException" name="ParseException" wsam:Action="http://services/WebServiceSvc/eliminarActividad/Fault/ParseException"/>
</operation>
<operation name="insertarUsuario">
<input wsam:Action="http://services/WebServiceSvc/insertarUsuarioRequest" message="tns:insertarUsuario"/>
<output wsam:Action="http://services/WebServiceSvc/insertarUsuarioResponse" message="tns:insertarUsuarioResponse"/>
</operation>
<operation name="eliminarUsuario">
<input wsam:Action="http://services/WebServiceSvc/eliminarUsuarioRequest" message="tns:eliminarUsuario"/>
<output wsam:Action="http://services/WebServiceSvc/eliminarUsuarioResponse" message="tns:eliminarUsuarioResponse"/>
</operation>
<operation name="listarUsuarios">
<input wsam:Action="http://services/WebServiceSvc/listarUsuariosRequest" message="tns:listarUsuarios"/>
<output wsam:Action="http://services/WebServiceSvc/listarUsuariosResponse" message="tns:listarUsuariosResponse"/>
<fault message="tns:ParseException" name="ParseException" wsam:Action="http://services/WebServiceSvc/listarUsuarios/Fault/ParseException"/>
</operation>
<operation name="insertarEmpresa">
<input wsam:Action="http://services/WebServiceSvc/insertarEmpresaRequest" message="tns:insertarEmpresa"/>
<output wsam:Action="http://services/WebServiceSvc/insertarEmpresaResponse" message="tns:insertarEmpresaResponse"/>
</operation>
<operation name="eliminarEmpresa">
<input wsam:Action="http://services/WebServiceSvc/eliminarEmpresaRequest" message="tns:eliminarEmpresa"/>
<output wsam:Action="http://services/WebServiceSvc/eliminarEmpresaResponse" message="tns:eliminarEmpresaResponse"/>
</operation>
<operation name="insertarProyecto">
<input wsam:Action="http://services/WebServiceSvc/insertarProyectoRequest" message="tns:insertarProyecto"/>
<output wsam:Action="http://services/WebServiceSvc/insertarProyectoResponse" message="tns:insertarProyectoResponse"/>
<fault message="tns:ParseException" name="ParseException" wsam:Action="http://services/WebServiceSvc/insertarProyecto/Fault/ParseException"/>
</operation>
<operation name="listarEmpresas">
<input wsam:Action="http://services/WebServiceSvc/listarEmpresasRequest" message="tns:listarEmpresas"/>
<output wsam:Action="http://services/WebServiceSvc/listarEmpresasResponse" message="tns:listarEmpresasResponse"/>
<fault message="tns:ParseException" name="ParseException" wsam:Action="http://services/WebServiceSvc/listarEmpresas/Fault/ParseException"/>
</operation>
<operation name="eliminarProyecto">
<input wsam:Action="http://services/WebServiceSvc/eliminarProyectoRequest" message="tns:eliminarProyecto"/>
<output wsam:Action="http://services/WebServiceSvc/eliminarProyectoResponse" message="tns:eliminarProyectoResponse"/>
</operation>
<operation name="insertarTarea">
<input wsam:Action="http://services/WebServiceSvc/insertarTareaRequest" message="tns:insertarTarea"/>
<output wsam:Action="http://services/WebServiceSvc/insertarTareaResponse" message="tns:insertarTareaResponse"/>
<fault message="tns:ParseException" name="ParseException" wsam:Action="http://services/WebServiceSvc/insertarTarea/Fault/ParseException"/>
</operation>
<operation name="actualizarTarea">
<input wsam:Action="http://services/WebServiceSvc/actualizarTareaRequest" message="tns:actualizarTarea"/>
<output wsam:Action="http://services/WebServiceSvc/actualizarTareaResponse" message="tns:actualizarTareaResponse"/>
<fault message="tns:ParseException" name="ParseException" wsam:Action="http://services/WebServiceSvc/actualizarTarea/Fault/ParseException"/>
</operation>
<operation name="listarProyectos">
<input wsam:Action="http://services/WebServiceSvc/listarProyectosRequest" message="tns:listarProyectos"/>
<output wsam:Action="http://services/WebServiceSvc/listarProyectosResponse" message="tns:listarProyectosResponse"/>
<fault message="tns:ParseException" name="ParseException" wsam:Action="http://services/WebServiceSvc/listarProyectos/Fault/ParseException"/>
</operation>
<operation name="listarTareaPorId">
<input wsam:Action="http://services/WebServiceSvc/listarTareaPorIdRequest" message="tns:listarTareaPorId"/>
<output wsam:Action="http://services/WebServiceSvc/listarTareaPorIdResponse" message="tns:listarTareaPorIdResponse"/>
<fault message="tns:ParseException" name="ParseException" wsam:Action="http://services/WebServiceSvc/listarTareaPorId/Fault/ParseException"/>
</operation>
<operation name="listarTareas">
<input wsam:Action="http://services/WebServiceSvc/listarTareasRequest" message="tns:listarTareas"/>
<output wsam:Action="http://services/WebServiceSvc/listarTareasResponse" message="tns:listarTareasResponse"/>
<fault message="tns:ParseException" name="ParseException" wsam:Action="http://services/WebServiceSvc/listarTareas/Fault/ParseException"/>
</operation>
<operation name="eliminarTarea">
<input wsam:Action="http://services/WebServiceSvc/eliminarTareaRequest" message="tns:eliminarTarea"/>
<output wsam:Action="http://services/WebServiceSvc/eliminarTareaResponse" message="tns:eliminarTareaResponse"/>
<fault message="tns:ParseException" name="ParseException" wsam:Action="http://services/WebServiceSvc/eliminarTarea/Fault/ParseException"/>
</operation>
<operation name="listarTareasPorProyecto">
<input wsam:Action="http://services/WebServiceSvc/listarTareasPorProyectoRequest" message="tns:listarTareasPorProyecto"/>
<output wsam:Action="http://services/WebServiceSvc/listarTareasPorProyectoResponse" message="tns:listarTareasPorProyectoResponse"/>
<fault message="tns:ParseException" name="ParseException" wsam:Action="http://services/WebServiceSvc/listarTareasPorProyecto/Fault/ParseException"/>
</operation>
</portType>
<binding name="WebServiceSvcPortBinding" type="tns:WebServiceSvc">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="listarActividadesPorTarea">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="ParseException">
<soap:fault name="ParseException" use="literal"/>
</fault>
</operation>
<operation name="insertarActividad">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="ParseException">
<soap:fault name="ParseException" use="literal"/>
</fault>
</operation>
<operation name="autenticarUsuario">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="ParseException">
<soap:fault name="ParseException" use="literal"/>
</fault>
</operation>
<operation name="actualizarActividad">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="ParseException">
<soap:fault name="ParseException" use="literal"/>
</fault>
</operation>
<operation name="listarActividadPorId">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="ParseException">
<soap:fault name="ParseException" use="literal"/>
</fault>
</operation>
<operation name="listarEmpresaPorId">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="ParseException">
<soap:fault name="ParseException" use="literal"/>
</fault>
</operation>
<operation name="actualizarProyecto">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="ParseException">
<soap:fault name="ParseException" use="literal"/>
</fault>
</operation>
<operation name="listarProyectoPorId">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="ParseException">
<soap:fault name="ParseException" use="literal"/>
</fault>
</operation>
<operation name="listarUsuarioPorId">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="ParseException">
<soap:fault name="ParseException" use="literal"/>
</fault>
</operation>
<operation name="actualizarUsuario">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="listarActividades">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="ParseException">
<soap:fault name="ParseException" use="literal"/>
</fault>
</operation>
<operation name="actualizarEmpresa">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="eliminarActividad">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="ParseException">
<soap:fault name="ParseException" use="literal"/>
</fault>
</operation>
<operation name="insertarUsuario">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="eliminarUsuario">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="listarUsuarios">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="ParseException">
<soap:fault name="ParseException" use="literal"/>
</fault>
</operation>
<operation name="insertarEmpresa">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="eliminarEmpresa">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="insertarProyecto">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="ParseException">
<soap:fault name="ParseException" use="literal"/>
</fault>
</operation>
<operation name="listarEmpresas">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="ParseException">
<soap:fault name="ParseException" use="literal"/>
</fault>
</operation>
<operation name="eliminarProyecto">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="insertarTarea">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="ParseException">
<soap:fault name="ParseException" use="literal"/>
</fault>
</operation>
<operation name="actualizarTarea">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="ParseException">
<soap:fault name="ParseException" use="literal"/>
</fault>
</operation>
<operation name="listarProyectos">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="ParseException">
<soap:fault name="ParseException" use="literal"/>
</fault>
</operation>
<operation name="listarTareaPorId">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="ParseException">
<soap:fault name="ParseException" use="literal"/>
</fault>
</operation>
<operation name="listarTareas">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="ParseException">
<soap:fault name="ParseException" use="literal"/>
</fault>
</operation>
<operation name="eliminarTarea">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="ParseException">
<soap:fault name="ParseException" use="literal"/>
</fault>
</operation>
<operation name="listarTareasPorProyecto">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="ParseException">
<soap:fault name="ParseException" use="literal"/>
</fault>
</operation>
</binding>
<service name="WebServiceSvc">
<port name="WebServiceSvcPort" binding="tns:WebServiceSvcPortBinding">
<soap:address location="http://localhost:8080/gantt/WebServiceSvc"/>
</port>
</service>
</definitions>