src/wsdl/localhost_8080/gantt/WebServiceSvc.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><xs:schema xmlns:tns="http://services/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://services/">

<xs:element name="ParseException" type="tns:ParseException"/>

<xs:element name="actualizarActividad" type="tns:actualizarActividad"/>

<xs:element name="actualizarActividadResponse" type="tns:actualizarActividadResponse"/>

<xs:element name="actualizarEmpresa" type="tns:actualizarEmpresa"/>

<xs:element name="actualizarEmpresaResponse" type="tns:actualizarEmpresaResponse"/>

<xs:element name="actualizarProyecto" type="tns:actualizarProyecto"/>

<xs:element name="actualizarProyectoResponse" type="tns:actualizarProyectoResponse"/>

<xs:element name="actualizarUsuario" type="tns:actualizarUsuario"/>

<xs:element name="actualizarUsuarioResponse" type="tns:actualizarUsuarioResponse"/>

<xs:element name="autenticarUsuario" type="tns:autenticarUsuario"/>

<xs:element name="autenticarUsuarioResponse" type="tns:autenticarUsuarioResponse"/>

<xs:element name="eliminarActividad" type="tns:eliminarActividad"/>

<xs:element name="eliminarActividadResponse" type="tns:eliminarActividadResponse"/>

<xs:element name="eliminarEmpresa" type="tns:eliminarEmpresa"/>

<xs:element name="eliminarEmpresaResponse" type="tns:eliminarEmpresaResponse"/>

<xs:element name="eliminarProyecto" type="tns:eliminarProyecto"/>

<xs:element name="eliminarProyectoResponse" type="tns:eliminarProyectoResponse"/>

<xs:element name="eliminarUsuario" type="tns:eliminarUsuario"/>

<xs:element name="eliminarUsuarioResponse" type="tns:eliminarUsuarioResponse"/>

<xs:element name="insertarActividad" type="tns:insertarActividad"/>

<xs:element name="insertarActividadResponse" type="tns:insertarActividadResponse"/>

<xs:element name="insertarEmpresa" type="tns:insertarEmpresa"/>

<xs:element name="insertarEmpresaResponse" type="tns:insertarEmpresaResponse"/>

<xs:element name="insertarProyecto" type="tns:insertarProyecto"/>

<xs:element name="insertarProyectoResponse" type="tns:insertarProyectoResponse"/>

<xs:element name="insertarUsuario" type="tns:insertarUsuario"/>

<xs:element name="insertarUsuarioResponse" type="tns:insertarUsuarioResponse"/>

<xs:element name="listarActividadPorId" type="tns:listarActividadPorId"/>

<xs:element name="listarActividadPorIdResponse" type="tns:listarActividadPorIdResponse"/>

<xs:element name="listarActividades" type="tns:listarActividades"/>

<xs:element name="listarActividadesResponse" type="tns:listarActividadesResponse"/>

<xs:element name="listarUsuarioPorId" type="tns:listarUsuarioPorId"/>

<xs:element name="listarUsuarioPorIdResponse" type="tns:listarUsuarioPorIdResponse"/>

<xs:element name="listarUsuarios" type="tns:listarUsuarios"/>

<xs:element name="listarUsuariosResponse" type="tns:listarUsuariosResponse"/>

<xs:complexType name="insertarUsuario">
<xs:sequence>
<xs:element name="nombre" type="xs:string" minOccurs="0"/>
<xs:element name="apellido" type="xs:string" minOccurs="0"/>
<xs:element name="email" type="xs:string" minOccurs="0"/>
<xs:element name="password" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="insertarUsuarioResponse">
<xs:sequence>
<xs:element name="return" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="actualizarActividad">
<xs:sequence>
<xs:element name="titulo" type="xs:string" minOccurs="0"/>
<xs:element name="descripcion" type="xs:string" minOccurs="0"/>
<xs:element name="fechaInicio" type="xs:string" minOccurs="0"/>
<xs:element name="fechaFin" type="xs:string" minOccurs="0"/>
<xs:element name="tarea" type="xs:int"/>
<xs:element name="idActividad" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="actualizarActividadResponse">
<xs:sequence>
<xs:element name="return" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="ParseException">
<xs:sequence>
<xs:element name="errorOffset" type="xs:int"/>
<xs:element name="message" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="listarUsuarios">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="listarUsuariosResponse">
<xs:sequence>
<xs:element name="return" type="tns:usuario" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="usuario">
<xs:sequence>
<xs:element name="apellido" type="xs:string" minOccurs="0"/>
<xs:element name="email" type="xs:string" minOccurs="0"/>
<xs:element name="idUsuario" type="xs:int"/>
<xs:element name="nombre" type="xs:string" minOccurs="0"/>
<xs:element name="password" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="insertarActividad">
<xs:sequence>
<xs:element name="titulo" type="xs:string" minOccurs="0"/>
<xs:element name="descripcion" type="xs:string" minOccurs="0"/>
<xs:element name="fechaInicio" type="xs:string" minOccurs="0"/>
<xs:element name="fechaFin" type="xs:string" minOccurs="0"/>
<xs:element name="tarea" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="insertarActividadResponse">
<xs:sequence>
<xs:element name="return" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="insertarProyecto">
<xs:sequence>
<xs:element name="titulo" type="xs:string" minOccurs="0"/>
<xs:element name="descripcion" type="xs:string" minOccurs="0"/>
<xs:element name="fechaInicio" type="xs:string" minOccurs="0"/>
<xs:element name="fechaFin" type="xs:string" minOccurs="0"/>
<xs:element name="empresa" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="insertarProyectoResponse">
<xs:sequence>
<xs:element name="return" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="listarUsuarioPorId">
<xs:sequence>
<xs:element name="idUsuario" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="listarUsuarioPorIdResponse">
<xs:sequence>
<xs:element name="return" type="tns:usuario" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="eliminarActividad">
<xs:sequence>
<xs:element name="idActividad" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="eliminarActividadResponse">
<xs:sequence>
<xs:element name="return" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="eliminarProyecto">
<xs:sequence>
<xs:element name="idProyecto" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="eliminarProyectoResponse">
<xs:sequence>
<xs:element name="return" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="autenticarUsuario">
<xs:sequence>
<xs:element name="email" type="xs:string" minOccurs="0"/>
<xs:element name="password" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="autenticarUsuarioResponse">
<xs:sequence>
<xs:element name="return" type="tns:usuario" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="eliminarUsuario">
<xs:sequence>
<xs:element name="idUsuario" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="eliminarUsuarioResponse">
<xs:sequence>
<xs:element name="return" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="actualizarEmpresa">
<xs:sequence>
<xs:element name="nombre" type="xs:string" minOccurs="0"/>
<xs:element name="direccion" type="xs:string" minOccurs="0"/>
<xs:element name="email" type="xs:string" minOccurs="0"/>
<xs:element name="telefono" type="xs:string" minOccurs="0"/>
<xs:element name="idEmpresa" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="actualizarEmpresaResponse">
<xs:sequence>
<xs:element name="return" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="listarActividadPorId">
<xs:sequence>
<xs:element name="idActividad" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="listarActividadPorIdResponse">
<xs:sequence>
<xs:element name="return" type="tns:actividad" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="actividad">
<xs:complexContent>
<xs:extension base="tns:datosGenerales">
<xs:sequence>
<xs:element name="idActividad" type="xs:int"/>
<xs:element name="tarea" type="xs:int"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="datosGenerales">
<xs:sequence>
<xs:element name="descripcion" type="xs:string" minOccurs="0"/>
<xs:element name="fechaFin" type="xs:dateTime" minOccurs="0"/>
<xs:element name="fechaInicio" type="xs:dateTime" minOccurs="0"/>
<xs:element name="titulo" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="eliminarEmpresa">
<xs:sequence>
<xs:element name="idEmpresa" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="eliminarEmpresaResponse">
<xs:sequence>
<xs:element name="return" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="actualizarUsuario">
<xs:sequence>
<xs:element name="nombre" type="xs:string" minOccurs="0"/>
<xs:element name="apellido" type="xs:string" minOccurs="0"/>
<xs:element name="email" type="xs:string" minOccurs="0"/>
<xs:element name="password" type="xs:string" minOccurs="0"/>
<xs:element name="idUsuario" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="actualizarUsuarioResponse">
<xs:sequence>
<xs:element name="return" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="insertarEmpresa">
<xs:sequence>
<xs:element name="nombre" type="xs:string" minOccurs="0"/>
<xs:element name="direccion" type="xs:string" minOccurs="0"/>
<xs:element name="email" type="xs:string" minOccurs="0"/>
<xs:element name="telefono" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="insertarEmpresaResponse">
<xs:sequence>
<xs:element name="return" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="actualizarProyecto">
<xs:sequence>
<xs:element name="titulo" type="xs:string" minOccurs="0"/>
<xs:element name="descripcion" type="xs:string" minOccurs="0"/>
<xs:element name="fechaInicio" type="xs:string" minOccurs="0"/>
<xs:element name="fechaFin" type="xs:string" minOccurs="0"/>
<xs:element name="empresa" type="xs:int"/>
<xs:element name="idProyecto" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="actualizarProyectoResponse">
<xs:sequence>
<xs:element name="return" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="listarActividades">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="listarActividadesResponse">
<xs:sequence>
<xs:element name="return" type="tns:actividad" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>
</xs:schema>